= render(Primer::HeadingComponent.new) do
  = @post.title

%ul.list-style-none.d-flex.flex-column.flex-sm-row.my-2
  = render(Primer::FlexComponent.new(tag: :li, mr: 4, align_items: :center)) do
    = render(Primer::FlexItemComponent.new(mr: 2)) do
      = render(Primer::OcticonComponent.new('person'))
    = render(Primer::FlexComponent.new(tag: :address, direction: :column)) do
      = render(Primer::TextComponent.new(tag: :div, font_weight: :bold)) { @post.user.name }

- if @post.image
  = image_tag main_app.url_for(@post.image.file)

= render(Primer::FlexComponent.new(flex: :auto, direction: [:column, nil, :row, nil])) do
  = render(Primer::FlexItemComponent.new(flex_auto: true)) do
    = render(Primer::MarkdownComponent.new(tag: :article)) do
      = @post.content.html_safe
