= render(Primer::HeadingComponent.new(tag: :h1)) do
  = @post.title

%ul.list-style-none.d-flex.flex-column.flex-sm-row.my-2
  = render(Primer::BoxComponent.new(display: :flex, tag: :li, mr: 4, align_items: :center)) do
    = render(Primer::BoxComponent.new(mr: 2)) do
      = render(Primer::OcticonComponent.new('person'))
    = render(Primer::BoxComponent.new(display: :flex, tag: :address, direction: :column)) do
      = render(Primer::Beta::Text.new(tag: :div, font_weight: :bold)) { @post.user.name }

- if @post.image
  = image_tag main_app.url_for(@post.image.file)

= render(Primer::BoxComponent.new(display: :flex, flex: :auto, direction: [:column, nil, :row, nil])) do
  = render(Primer::BoxComponent.new(flex: :auto)) do
    = render(Primer::Markdown.new(tag: :article)) do
      = @post.content.html_safe
