= render(Primer::BorderBoxComponent.new(ml: [nil, nil, 4, nil], style: 'min-width: 15vw;')) do |sidebar|
  - sidebar.header do
    = render(Primer::HeadingComponent.new(tag: :h3)) do
      = t '.categories'
  - sidebar.row do
    = render(Primer::Markdown.new(tag: :div, font_weight: :bold)) do
      %ul
        - Spina::Admin::Conferences::Blog::Category.all.each do |cat|
          %li= link_to cat.name, frontend_blog_category_path(cat)

