= render(Primer::BoxComponent.new(display: :flex, direction: [:column, nil, nil, :row])) do
  = render(Primer::BoxComponent.new(display: :flex, direction: :column, col: [nil, nil, nil, 9])) do
    = render(Primer::BoxComponent.new) do
      = render(Primer::HeadingComponent.new(tag: :h1)) { @journal.name }
      - if @journal.has_content? :description
        = render(Primer::Markdown.new(my: 4)) { @journal.content.html(:description).to_s }
    = render Primer::BoxComponent.new(my: 4, col: [12, nil, 6, nil], float: [nil, nil, :left, nil]) do
      - if @journal.has_content?(:documents) && @journal.content(:documents)&.any?
        = render Primer::SubheadComponent.new do |component|
          = component.heading { t :'.documents.title' }
        %ul
          - @journal.content(:documents).each do |document|
            %li.list-style-none.py-1.d-flex.flex-items-center
              = render(Primer::Beta::Text.new(tag: :div, flex: :auto)) { document.content(:name).presence ||  t(:'.documents.no_name') }
              - if document.content(:attachment).present?
                = render Primer::ButtonComponent.new(tag: :a, ml: 2, href: main_app.url_for(document.content(:attachment)), download: '') do
                  = render Primer::OcticonComponent.new('desktop-download')
                  = t :'.documents.download'
              - else
                = render(Primer::Beta::Text.new(tag: :div, font_size: 6, color: :muted)) { t :'.documents.no_file' }

  = render 'journal_navigation'

#journal-issues-list
  = render(Primer::HeadingComponent.new(tag: :h2, mt: 3)) { t '.all_issues' }
  - if @issues.any?
    %ul= render partial: 'issue', collection: @issues, layout: 'list_item', cached: true
  - else
    = render Primer::BlankslateComponent.new(title: t(:'.no_issues'), icon: 'mortar-board')

- if @journal.has_content?(:issn) && !@journal.content(:issn).empty?
  = render(Primer::BoxComponent.new(mt: 4)) do
    = render(Primer::Beta::Text.new(font_weight: :bold)) do
      = t '.issn', issn: @journal.content(:issn)
