!!!
%html{ lang: I18n.locale, data: { color_mode: 'auto', light_theme: 'light', dark_theme: 'dark' } }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'author', content: author }
    %meta{ name: 'description', content: description }
    %meta{ name: 'viewport', content: 'initial-scale=1.0' }
    %meta{ name: 'og:title', content: t(:'.title', title: title, suffix: current_account.name) }
    %meta{ name: 'og:description', content: description }
    %meta{ name: 'turbolinks-cache-control', content: 'no-preview' }
    %base{ target: '_blank' }
    = csrf_meta_tags
    %title= t(:'.title', title: seo_title, suffix: current_account.name)
    = render 'google_site_verification'
    = render 'analytics'
    = stylesheet_link_tag 'spina/conferences/primer_theme/application', media: 'all', data: { turbolinks_track: true }
    = primer_theme_importmap_tags
    = yield :head
  %body
    - if current_spina_user.present?
      .admin= render 'admin_bar'
    %header= render 'navigation'
    - unless local_assigns[:hide_alert]
      = render 'alert'
    - if content_for? :flash
      .flash-messages= yield :flash
    %main
      = yield :hero
      - if content_for? :breadcrumbs
        .container-lg.p-responsive.mt-4= yield :breadcrumbs
      = yield :header
      .container-lg.p-responsive.mt-4= yield
    %footer.footer.width-full.container-lg.p-responsive= render 'footer'
