= render(Primer::HeadingComponent.new(tag: :h1)) do
  Blog
= render(Primer::HeadingComponent.new(tag: :h2)) do
  = t '.category', name: @category.name

= render(Primer::BoxComponent.new(display: :flex, flex: :auto, direction: [:column, nil, :row, nil])) do
  = render(Primer::BoxComponent.new(flex: :auto)) do
    - if @posts.any?
      %ul= render collection: @posts, partial: 'spina/conferences/primer_theme/blog/posts/post', layout: 'list_item', cached: true
    - else
      = render Primer::BlankslateComponent.new(title: t(:'.no_posts'), icon: 'mortar-board')
  = render 'spina/conferences/primer_theme/blog/shared/sidebar'
