= render(Primer::HeadingComponent.new) { t '.sign_up' }

= form_for(resource, as: resource_name, url: frontend_public_user_registration_path(resource)) do |f|
  = render "spina/conferences/primer_theme/accounts/public_users/shared/error_messages", resource: resource
  .form-group
    .form-group-header
      = f.label :email
    .form-group-body
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  .form-group
    .form-group-header
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
    .form-group-body
      = f.password_field :password, autocomplete: "new-password", class: 'form-control'
  .form-group
    .form-group-header
      = f.label :password_confirmation
    .form-group-body
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  = f.submit "Sign up", class: 'btn btn-primary'
= render "spina/conferences/primer_theme/accounts/public_users/shared/links"
