= render Primer::BoxComponent.new(display: :flex, direction: :column, mt: 2) do
  - if controller_name != 'sessions'
    = render Primer::BoxComponent.new(flex: :auto, my: 1) do
      = link_to "Log in", new_frontend_public_user_session_path
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = render Primer::BoxComponent.new(flex: :auto, my: 1) do
      = link_to "Sign up", new_frontend_public_user_registration_path
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = render Primer::BoxComponent.new(flex: :auto, my: 1) do
      = link_to "Forgot your password?", new_frontend_public_user_password_path
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = render Primer::BoxComponent.new(flex: :auto, my: 1) do
      = link_to "Didn't receive confirmation instructions?", new_frontend_public_user_confirmation_path
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = render Primer::BoxComponent.new(flex: :auto, my: 1) do
      = link_to "Didn't receive unlock instructions?", new_frontend_public_user_unlock_path
  - if devise_mapping.omniauthable?
    = render Primer::BoxComponent.new(flex: :auto, my: 1) do
      - resource_class.omniauth_providers.each do |provider|
        = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post
