= render(Primer::BoxComponent.new(display: :flex, direction: [:column, nil, nil, :row])) do
  = render(Primer::BoxComponent.new(col: [nil, nil, nil, 9])) do
    = render(Primer::HeadingComponent.new(tag: :h1)) do
      = @journal.name
    = render(Primer::HeadingComponent.new(tag: :h2, mt: 3)) { t '.authors' }
    - if @authors.any?
      %ul= render partial: 'author', collection: @authors, layout: 'list_item', cached: true
    - else
      = render Primer::Beta::Blankslate.new do |blankslate|
        - blankslate.visual_icon(icon: 'mortar-board')
        - blankslate.heading(tag: :h3).with_content(t(:'.no_authors'))
  = render 'journal_navigation'
